  body{
    /* background-image: url(/assets/table-top.jpg); */
    background-size: cover;
    /* background-position: center;
     */
     background-repeat: no-repeat;
  }
  
  
  button {
            width: 50px;
            height: 50px;
            font-size: 18px;
            border: none;
            background-color:gray
           
        }

#display{
    background-color:rgba(162, 223, 21, 0.767);
    height: 20px;
    color: white;
    font-size: large;
    
    
}
table{
    margin-top: 70px;
    border: none;
    border-style:groove;
    border-radius: 12px 12px 12px 12px;
    box-shadow: 30px 30px 100px;
    background-color: gray;
}
